<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--为mapper映射文件中的domain起别名-->
    <typeAliases>
        <package name="com.bjpowernode.domain"/>
    </typeAliases>


    <mappers>
        <!-- <mapper resource="com/bjpowernode/mybatis/dao/StudentDao.xml" /> -->
        <package name="com.bjpowernode.dao"/>
    </mappers>
</configuration>